body{

background: linear-gradient(90deg, rgba(60,6,91,1) 0%, rgba(87,9,121,1) 35%, rgba(215,0,255,1) 100%);
color:white;
    }

    .heading{
        width:80%;
        font-size: 22px;

    }

    .name_of_objects{
        color:yellow;

    }

    #camera , #result{
        border:2px dashed white;
        width:350px;
        height:300px;
    }

    #result_object_name , #result_object_accuracy{
        color:white;

    }

    .object{
        color:white;
        width:80%;
    }

    